.wrapper {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.container {
  padding: 36px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-height: 100vh;
  overflow: auto;
}
.departure {
  background-color: antiquewhite;
}
.arrival {
  background-color: aliceblue;
}
h2 {
  margin: 0;
}
.flight-item {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 18px;
  line-height: 110%;
}
.time {
  font-weight: 600;
}
.city {
  flex: 1;
  font-size: 22px;
}
.status {
  font-weight: 600;
}
